#################################
#     Minimal gitignore file    #
#    For vivado VHDL projects   #
#################################

*


!*/

!**/*.srcs/**
!*.bd
!*.bda
!*wrapper.vhd
!*.xpr
!*.bit
!*.md

!.gitignore


IPs_DESD/**